html {
    scroll-behavior:smooth;
}

body {
    padding: 0;
    margin: 0;
}

.navigation {
    position: fixed;
    width: 100vw;
    background-color: #567368;
    color: #F2F2F2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.3em;
    font-family: sans-serif;
    height: 10vh;
}

.navigation ul {
    list-style: none;
    margin-right: 10em;
}

.navigation li {
    display: inline-block;
    margin-left: 2em;
}

.navigation a {
    color: #F2F2F2;
    text-decoration: none;
    border: #567368;
    border-style: solid;
    padding-bottom: 5px;
}

.navigation a:hover {
    color: #F2CB05;
    border-bottom: #D93D04;
    border-top: #567368;
    border-left: #567368;
    border-right: #567368;
    border-style: solid;
}

.dropdown {
    display: none;
}

.dropdown img {
    height: 8vh;
}

#welcome {
    height: 100vh;
    background-image: linear-gradient(135deg, #F2CB05 0%, #F27B13 60%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 3em;
}

#welcome h1 {
    margin-top: 5em;
    font-size: 3vw;
    color: #fff;
    font-family: monospace;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation: typing 1.5s steps(30, end), blink-caret .5s step-end infinite;
}

#welcome img {
    width: 60vw;
}

/* The typing effect */

@keyframes typing {
    from {
        width: 0
    }
    to {
        width: 100%
    }
}

/* The typewriter cursor effect */

@keyframes blink-caret {
    from, to {
        border-color: transparent
    }
    50% {
        border-color: orange
    }
}

#about {
    background-color: #567368;
    /* margin-top: 10vh; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#about div {
    color: #F2F2F2;
    width: 40vw;
    display: inline-block;
    line-height: 1.8;
}

#abtmpic {
    color: #F2CB05 !important;
    display: flex !important;
    align-items: center;
    flex-direction: column;
}

#abtmpic img {
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
}

#skills {
    background-image: linear-gradient(135deg, #F2CB05 9.9%, #F2F2F2 10%, #F2F2F2 90%, #567368 90.1%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
}

#skills .skillset {
    display: flex;
    flex-direction: column;
}

#skills .skillset .skill {
    background-image: linear-gradient(225deg, #F2CB05 9.9%, #F2F2F2 10%, #F2F2F2 90%, #567368 90.1%);
    border: #F2F2F2;
    border-bottom: #D93D04;
    border-style: solid;
    min-width: 40vw;
    max-width: 80vw;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    margin: 1em;
    text-decoration: #F27B13 underline;
}

#skills .skillset .skill img {
    width: 20vw;
}

@media (max-width: 900px) {
    .navigation {
        display: flex;
        justify-content: center;
    }
    .navigation ul {
        display: none;
    }
    .dropbtn {
        background-color: #567368;
        color: white;
        font-size: 16px;
        border: none;
    }
    .dropbtn svg {
        fill: #F2F2F2;
    }
    .dropdown {
        position: relative;
        display: inline-block;
    }
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }
    .dropdown-content a {
        color: #F2CB05;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown-content a:hover {
        background-color: #ddd;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .dropdown:hover .dropbtn svg {
        fill: #D93D04;
    }
    #welcome {
        flex-direction: column;
        justify-content: center;
        max-height: min-content;
    }
    #welcome h1 {
        margin-left: 0;
    }
    #welcome img {
        width: 100vw;
    }
    #about {
        flex-direction: column;
    }
    #about div {
        font-size: 1em;
        width: 90vw;
    }
    #skills .skillset .skill {
        flex-direction: column;
        width: 70vw;
    }
    #skills .skillset .skill img {
        width: 80vw;
        max-width: 200px;
    }
}